@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

.card { @apply bg-white dark:bg-slate-800 p-4 rounded-lg shadow-sm transition-shadow hover:shadow-md }
